In [2]:
import numpy as np
import pandas as pd
import os
os.chdir(r"C:\Users\N..C..C\Downloads\Documents")

In [3]:
data = pd.read_csv("marketData.csv")
data

     youtube  facebook  newspaper  sales
0      84.72     19.20      48.96  12.60
1     351.48     33.96      51.84  25.68
2     135.48     20.88      46.32  14.28
3     116.64      1.80      36.00  11.52
4     318.72     24.00       0.36  20.88
..       ...       ...        ...    ...
166    45.84      4.44      16.56   9.12
167   113.04      5.88       9.72  11.64
168   212.40     11.16       7.68  15.36
169   340.32     50.40      79.44  30.60
170   278.52     10.32      10.44  16.08

[171 rows x 4 columns]

In [4]:
afterDrop = data.drop("sales", axis=1)
y = data["sales"]
data.shape
np_array = afterDrop.to_numpy()
x = data["youtube"]
y = data["facebook"]
z = data["newspaper"]

In [11]:
xBais = np.ones((len(x),1))
xNew = np.append(xBais, np_array, axis=1) # x
xNewTranspose = np.transpose(xNew) # xT
xMulitply = xNewTranspose.dot(xNew) # (xT * x)
xInverse = np.linalg.inv(xMulitply) # inverse
yDot = xNewTranspose.dot(y) # mult y
Theta = xInverse.dot(yDot) # final

In [20]:
Theta_0 = Theta[0]
Theta_1 = Theta[1]
Theta_2 = Theta[2]
Theta_3 = Theta[3]
print(Theta_0)
print(Theta_1)
print(Theta_2)
print(Theta_3)

7.105427357601002e-14
-1.6653345369377348e-16
0.9999999999999997
-4.440892098500626e-16

In [21]:
def predValues(Theta_0, Theta_1, Theta_2, Theta_3, youtube, facebook, newspaper):
    predictedValues = youtube * Theta_1 + facebook * Theta_2 + newspaper * Theta_3 + Theta_0
    return predictedValues

youtube = 84.72
facebook = 19.20
newspaper = 48.96
print(predValues(Theta_0, Theta_1, Theta_2, Theta_3, youtube, facebook, newspaper))

19.200000000000028